.flexCenter.c-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    
}
.c-container>img{
    width: 9rem;
}

@media  (min-width:1024px) {
    .flexCenter.c-container {
      justify-content: space-between;
    }
    
  }