.h-wrapper {
  background: var(--black);
  color: white;
}
.flexCenter.h-container{
  display: flex;
  justify-content: space-between;
}

.h-menu {
  background: white;
  color: black;
  flex-direction: column;
  padding: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  width: 32vh;
  height: 100vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}
.close-icon {
  cursor: pointer;
  color: black;
}

.menu-icon {
  cursor: pointer;
}
.menu-header {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display:block;
}
.desktop-menu {
  display: none;
}
@media (min-width: 768px) {

  .menu-header {
    display: none; 
  }

  .menu-icon {
    display: none;
  }

  .desktop-menu{
    display: block;
    padding: 2rem;
    width: auto;
    height: auto;
    background: none;
    box-shadow: none;
    padding: 0;

  }
}
