.v-container .image-container {
    border: 8px solid rgb(232 232 232 / 93%);
  }
  
  .v-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    margin-top:1rem;
  }
  .v-container > div {
    flex: 1;
  }
  .v-right {
    gap: 0.5rem;
    height:100%;
  }
  .accordion {
    border: none;
    width:100%;
    max-height:80%;
    margin-top: 0.5rem;
  }
  
  .accordionItem {
    background: white;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .accordionItem.expanded {
    box-shadow: var(--shadow);
    border-radius: 6px;
    max-width:448px;
  }

  
  .flexCenter.accordionButton {
    background: white;
    padding: 1rem;
    justify-content: space-between;
    cursor: pointer;
    gap:1rem;


  }

  .icon {
    background: #eeeeff;
    border-radius: 5px;
    font-size: 0.6rem;

  }
  
  .icon svg {
    fill: var(--blue);
  }
  
  .accordionButton .primaryText{
      font-size: 0.7rem;
  }
  
  @media screen and (min-width: 400px) {
    .icon {
        padding: 4px;
        font-size: 1.3rem;
    }
   .accordionBody{
    padding:1rem;
   }
    .accordionButton .primaryText {
        font-size: 1rem;
    }
}

@media screen and (min-width:1000px) {
  .v-container{
    flex-direction: row;
    
  }
  .accordionItem.expanded {
    max-width:100%;
  }
  .accordionBody{
    padding:1.2rem;
    font-size: 1.5rem;
   }
   .accordionButton .primaryText {
    font-size: 1.2rem;
}


  
  
}
